@using EntityLayer.Concrete

@model  List<CargoDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

@using (Html.BeginForm("Index", "Cargo", FormMethod.Get))
            {
                <p>
                    <b>Kargo Takip No :</b> @Html.TextBox("p")
                    <input type="submit" value="Ara"/>
                </p>
            }

<table class="table table-bordered">

    <tr>

        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
   

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Employee</th>
            <th>@item.ReceiverName</th>
            <th>@item.TrackingCode</th>
            <th>@item.Date.ToShortDateString()</th>
       
            <td><a href="/CargoTracking/CargoDetail/@item.TrackingCode" class="btn btn-outline-dark"  ><b> Detaylar</b></a></td>

        </tr>
        }

</table>
<a href="/Cargo/CargoAdd/" class="btn btn-outline-dark"><b>Yeni Kargo Girişi</b></a>
<br />
<br />
<a href="/QRCode/Index/" class="btn btn-outline-success"><b> QR Code Oluştur</b></a>

<br />
<br />


