@model EntityLayer.Concrete.SalesMovements
@{
    ViewBag.Title = "NewSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Sayfası</h2>

<br />
@using (Html.BeginForm("NewSales", "SalesMovements", FormMethod.Post))   //baslangıc formu nerede ve ne zmaan işlem gercekleştirecegini belirler
{



<div class="form-group">
    @Html.Label("Ürün Adı")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.deger, new { @class = "form-control" })

    <br />
    @Html.Label("Cari Adı Soyadı")
    @Html.DropDownListFor(x => x.CurrentId, (List<SelectListItem>)ViewBag.deger2, new { @class = "form-control" })

    <br />

    @Html.Label("Personel Adı Soyadı :")
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.deger3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet ")
    <input type="number" class="form-control" max="150" min="0" placeholder="Adet giriniz" id="txt1" onchange="sum();" />

    <br />

    @Html.Label("Satış Fiyatı ")
    <input type="text" name="Price" class="form-control" id="txt2" onkeyup="sum();" />


    <br />

    @Html.Label("Toplam Tutar ")
    <input type="text" name="TotelPrice" class="form-control" value="0" id="txt3" readonly />


    <br />


    <button class="btn btn-outline-success"><b>Ekle</b></button>



</div>
}

<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>


