@model EntityLayer.Concrete.SalesMovements
@{
    ViewBag.Title = "SalesProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Yeni Satış Yap</h2>
<br />



@using (Html.BeginForm("SalesProduct", "SalesMovements", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Ürün ID ")
    <input type="text" name="ProductId" value="@ViewBag.deger2" class="form-control" readonly />

    <br />
    @Html.Label("Personel Adı Soyadı :")
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.deger, new { @class = "form-control" })

    <br />
    @Html.Label("Cari ID ")
    @Html.TextBoxFor(x => x.CurrentId, new { @class = "form-control" })

    <br />
    @Html.Label("Adet ")
    <input type="number" name="Piece" class="form-control"  placeholder="Adet giriniz" id="txt1" onchange="sum();" />

    <br />

    @Html.Label("Satış Fiyatı ")
    <input type="text" name="Price" value="@ViewBag.deger3" class="form-control" id="txt2" onkeyup="sum();" />


    <br />

    @Html.Label("Toplam Tutar ")
    <input type="text" name="TotelPrice" class="form-control" value="0" id="txt3" readonly />




    <br />

    <button class="btn btn-outline-success"><b>Satış Yap</b></button>
</div>
}

<br />
@*<input type="text" id="txt1" onkeyup="sum();"/>*@
@*<input type="text" id="txt2" onkeyup="sum();"/>*@
@*<input type="text" id="txt3"/>*@
<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>