@using EntityLayer.Concrete
@model List<SalesMovements>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>

        <th>Ürün </th>
        <th>Adet</th>
        <th>Fiyat </th>
        <th>Toplam Fiyat </th>
        <th>Tarih </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
          
            <th>@item.Product.ProductName </th>
            <th>@item.Piece</th>
            <th>@item.Price</th>
            <th>@item.TotelPrice</th>
            <th>@item.Date.ToShortDateString()</th>
        </tr>
    }
</table>


